---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Base Network</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="antialiased font-sans manrope-500 leading-relaxed">
    <header></header>
    <main>
      <section>
        <div class="container grid grid-cols-2 gap-16">
          <div class="left flex flex-col gap-8">
            <h1 class="manrope-800 text-5xl tracking-tighter text-primary leading-tight">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            </h1>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="flex">
							<Button></Button>
						</div>
          </div>
          <div class="right">
						Hello
					</div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
