---
import { LinkButton, RoundedButton } from '@/components/Buttons';
import Container from '@/components/Container.astro';
import Features from '@/components/Features';
import UseCase from '@/components/UseCase';
import SignUpField from '@/components/SignUpField';
import Header from '@/components/Header';
import Footer from '@/components/Footer';
import '../styles/global.css';
import { Button } from '@/components/ui/button';
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Base Network</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="antialiased font-sans manrope-500 leading-[1.7]">
    <Header />
    <main>
      <!-- hero section -->
      <Container className="overflow-hidden">
        <div class="flex gap-x-16 gap-y-10 flex-col md:flex-row">
          <div class="left flex flex-col gap-8 justify-center shrink-0 w-full md:w-1/2">
            <h1 class="manrope-800 text-5xl tracking-tighter text-primary leading-tight">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            </h1>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="flex">
              <RoundedButton>Button Text</RoundedButton>
              <LinkButton>Link Text</LinkButton>
            </div>
          </div>
          <div class="right">
            <img src="img_placeholder_1.jpg" alt="placeholder_image" class="md:h-[525px] md:min-w-[980px] w-auto h-auto object-cover rounded-xl shadow-md">
          </div>
        </div>
      </Container>

      <!-- features section -->
      <Container id="features" className="bg-primary text-foreground-inverted">
        <div class="flex flex-col items-center gap-2 text-center mb-12">
          <h2 class="manrope-700 text-5xl tracking-tighter text-primary-foreground leading-tight">
            Lorem ipsum dolor sit amet, conse
          </h2>
          <p class="max-w-[677px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <!-- wrapper -->
        <Features client:load />
      </Container>

      <!-- use cases -->
      <Container id="use-cases" className="overflow-hidden">
        <div class="flex flex-col items-center gap-2 text-center mb-12">
          <h2 class="manrope-800 text-5xl tracking-tighter text-primary-faded leading-tight">
            Lorem ipsum dolor sit amet, cons...
          </h2>
          <p class="max-w-[677px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="flex flex-col md:flex-row">
          <!-- cards container -->
          <div class="w-full md:w-1/2 shrink-0 my-auto">
            <UseCase />
            <UseCase />
            <UseCase />
            <UseCase />
          </div>
          <!-- image container -->
          <img src="img_placeholder_1.jpg" alt="placeholder_image" class="md:h-[590px] md:min-w-[980px] w-full h-auto object-cover rounded-xl shadow-md" />
        </div>
      </Container>

      <!-- call to action -->
      <Container className="bg-primary text-foreground-inverted">
        <div class="flex flex-col items-center gap-2 text-center mb-12">
          <h2 class="manrope-700 text-5xl tracking-tighter text-primary-foreground leading-tight">
            Lorem ipsum dolor si...
          </h2>
          <p class="max-w-[677px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="flex justify-center">
          <SignUpField client:load />
        </div>
      </Container>

      <!-- Pricing -->
      <Container id="pricing">
        <div class="flex flex-col items-center gap-2 text-center mb-12">
          <h2 class="manrope-800 text-5xl tracking-tighter text-primary-faded leading-tight">
            Lorem ipsum dolor sit a...
          </h2>
          <p class="max-w-[677px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="flex gap-5 flex-wrap justify-center">
          <!-- package 1 -->
          <div class="space-y-3 flex-1 min-w-[332px] max-w-[332px] order-2 md:order-1 p-7 rounded-2xl text-sm leading-6 hover:scale-105 hover:shadow-xl transition duration-150 hover:-translate-y-2">
            <p class="text-4xl font-semibold">$123</p>
            <h3 class="text-lg font-semibold">Tier Label</h3>
            <p class="line-clamp-2 text-ellipsis">Tier/Plan short description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <Button variant="outline" className="h-11 block w-full rounded-full font-semibold outline outline-1 outline-gray-400">Get started</Button>
            <ul class="space-y-3">
              <li class="flex gap-2 items-start">
                <img src="/img_check.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
            </ul>
          </div>
          <!-- package 2 -->
          <div class="bg-primary space-y-3 flex-1 min-w-[332px] order-1 md:order-2 max-w-[332px] p-7 rounded-2xl text-sm leading-6 hover:scale-105 hover:shadow-xl transition duration-150 hover:-translate-y-2">
            <p class="text-4xl font-semibold text-primary-foreground">$123</p>
            <h3 class="text-lg font-semibold text-primary-foreground">Tier Label</h3>
            <p class="line-clamp-2 text-ellipsis text-foreground-inverted">Tier/Plan short description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <Button className="h-11 text-accent-foreground block w-full rounded-full bg-accent hover:brightness-110 transition duration-150 font-semibold">Get started</Button>
            <ul class="space-y-3">
              <li class="flex gap-2 items-start">
                <img src="/img_check-inverted.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis text-foreground-inverted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check-inverted.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis text-foreground-inverted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check-inverted.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis text-foreground-inverted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check-inverted.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis text-foreground-inverted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check-inverted.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis text-foreground-inverted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check-inverted.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis text-foreground-inverted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
            </ul>
          </div>
          <!-- package 3 -->
          <div class="space-y-3 flex-1 min-w-[332px] max-w-[332px] order-2 md:order-3 p-7 rounded-2xl text-sm leading-6 hover:scale-105 hover:shadow-xl transition duration-150 hover:-translate-y-2">
            <p class="text-4xl font-semibold">$123</p>
            <h3 class="text-lg font-semibold">Tier Label</h3>
            <p class="line-clamp-2 text-ellipsis">Tier/Plan short description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <Button variant="outline" className="h-11 block w-full rounded-full font-semibold outline outline-1 outline-gray-400">Get started</Button>
            <ul class="space-y-3">
              <li class="flex gap-2 items-start">
                <img src="/img_check.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
              <li class="flex gap-2 items-start">
                <img src="/img_check.svg" width="22" height="22" class="mt-1" />
                <p class="line-clamp-2 text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </li>
            </ul>
          </div>
          
        </div>
      </Container>
    </main>
    <Footer />
  </body>
</html>
